---
image: golang:1.6

stages:
- prebuild
- test
- build

.docker: &docker
  stage: test
  before_script:
  - source ci/prepare.sh
  - make deps
  tags:
  - docker

bindata:
  <<: *docker
  stage: prebuild
  script:
  - make bindata
  artifacts:
  expire_in: 7d
  paths:
  - license/bindata.go

licenses_check:
  <<: *docker
  script:
  - make license

unit_tests:
  <<: *docker
  script:
  - make test

statis_analysis:
  <<: *docker
  script:
  - make lint fmt vet complexity

build:
  <<: *docker
  stage: build
  script:
  - make build build_all
